<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="richard.mapping.MybatisMapper">

    <select id="getUser" parameterType="java.util.HashMap"
            resultType="app.User">
        select * from employee where id in (${id})
    </select>
    <select id="getUserOne" parameterType="int"
            resultType="app.User">
        select * from employee where id=#{id}
    </select>
    <insert id="insertEmployee" useGeneratedKeys="true" keyProperty="id">
        insert into employee (id,name,phone,note)
        values (#{id},#{name},#{phone},#{note})

    </insert>

    <insert id="insertEmpSimple" parameterType="app.User" useGeneratedKeys="true" keyProperty="id">
        insert into employee (id,name)
        values (#{id},#{name})
    </insert>

</mapper>